<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
<head>
  <meta charset="UTF-8">
  <title>Users</title

</head>
<body>
<header>
  <nav class="navbar navbar-light bg-dark" style="height: 7vh">
    <div class="container-fluid">
      <div>
        <div class="text-white me-auto d-inline-block">
          <strong class="text-white" style="font-size: 1.5em" th:utext="${user.getLogin()}">
            Username
          </strong>
        </div>
        <div class="text-white me-auto d-inline-block">
          <span class="text-white" style="font-size: 1.5em">with roles: </span>
        </div>
        <div class="text-white me-auto d-inline-block">
                    <span class="text-white" style="font-size: 1.5em"
                          th:each="role : ${user.getRoles()}" th:utext="${role.getName()}">
                        USER
                    </span>
        </div>
      </div>
      <form th:action="@{/logout}" method="post">
        <a class="navbar-brand text-white-50 fs-20" href="/logout">Logout</a>
      </form>

    </div>
  </nav>
</header>
<div class="d-flex align-items-start" style=" height: 93vh; background: #f0f0f0;">
  <div class="col-md-3 col-xl-2 py-2" style="padding-top: 15px; flex: 1 6; height: 100%; background: white">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/admin" class="nav-link" aria-current="page"
        >Admin</a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link active" aria-current="page">User</a>
      </li>
    </ul>
  </div>
  <div class="tab-content" id="v-pills-tabContent" style="padding: 15px 25px 15px 25px; flex: 5 6; height: 100%;">
    <div class="tab-pane show active" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title" style="margin: 5px 0">About user</h5>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <hr style="border: 1px solid darkgrey; margin: auto">
            </tr>
            <tr>
              <th scope="col">id</th>
              <th scope="col">username</th>
              <th scope="col">age</th>
              <th scope="col">email</th>
              <th scope="col">password</th>
              <th scope="col">login</th>
              <th scope="col">role</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td th:text="${user.getId()}"></td>
              <td th:text="${user.getUsername()}"></td>
              <td th:text="${user.getAge()}"></td>
              <td th:text="${user.getEmail()}"></td>
              <td th:text="${user.getPassword()}"></td>
              <td th:text="${user.getLogin()}"></td>
              <td th:text="${user.getRoles()}"></td>
            </tr>
            </tr>
            </tbody>
          </table>
          <br/>

        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>